.main_div{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.main_navbar_div{
    width: 25%;
}
.arrow{
    display: none;
}
.main_emptyhome_div{
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.main_img_title{
    font-family: Roboto;
font-size: 50px;
font-weight: 700;
line-height: 58.59px;
letter-spacing: 0.02em;
text-align: left;
margin-top: -3%;

}
.main_img_content{
    font-family: Roboto;
font-size: 21px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0.02em;
text-align: left;
width: 650px;
height: 64px;
margin-top: -3%;

}
.side_content_main_di {
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding-left: 2%;
    background-color: #215df5;
    color: white;
    position: absolute; /* Change position to absolute */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    z-index: 1; /* Increase z-index if necessary */
}
.single_note{
    width: 96%;
height: auto;
border-radius: 5px ;
opacity: 0px;
box-shadow: 5px 2px 5px rgb(181, 181, 243);
background-color: white;
margin-bottom: 15px;
padding: 10px;
}
ul{
    padding-bottom: 16%;
    overflow-y: scroll !important;
    height: 60vh;
}
ul li{

    list-style: none;
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 28.83px;
letter-spacing: 0.035em;
text-align: left;

}
.inputarea{
  
    
height: 211px;
top: 751px;
left: 468px;
gap: 0px;
border-radius: 9px;
border: 1px 0px 0px 0px;
opacity: 0px;
background-color: white;
color: black;
width: 1074px;

}

.add_new_div{
    position:absolute;
    bottom: 0;
    background-color: #001F8B;
    height: 255px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main_navbar_div {
      display: block;
      width: 100%;
    }
  
    .main_emptyhome_div {
      display: none;
      width: 0%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: black;
    }
  
    ul {
      overflow-y: scroll !important;
      width: 90%;
      margin: 0;
      padding: 5px;
      height: 70vh;
    }
    .inputarea{
        margin: 0;
        padding: 0;
        width: 360px;
    }
    .arrow{
        display: block;
    }
  }
  
  