
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&family=Single+Day&display=swap');
.bgclr{
  background-color: #DAE5F5
  ;
  margin: -8px;
  padding: 0;
  color: white;
}